[DEFAULT]
maxretry = 4
findtime = 10
bantime = 72000
ignoreip = {{ fail2ban_ignoreip }}

[asterisk]
enabled = true
filter = asterisk
action_  = %(default/action_)s[name=%(__name__)s-tcp, protocol="tcp"]
%(default/action_)s[name=%(__name__)s-udp, protocol="udp"]
logpath = /var/log/asterisk/fail2ban