[DEFAULT]
maxretry = 3
findtime = 3600
bantime = 1209600
ignoreip = {{ fail2ban_ignoreip }}

[asterisk]
enabled = true
filter = asterisk
action_  = %(default/action_)s[name=%(__name__)s-tcp, protocol="tcp"]
%(default/action_)s[name=%(__name__)s-udp, protocol="udp"]
logpath = /var/log/asterisk/fail2ban